{% extends 'home/base.html' %}
{% load static %}
{% block title %} Change Password {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
<style>
.form .inputBx input[type="submit"] {
   max-width: 170px;
}
</style>
{% endblock css %}

{% block body %}

<section>
  
  <div class="box">
    
    <div class="square" style="--i:0;"></div>
    <div class="square" style="--i:1;"></div>
    <div class="square" style="--i:2;"></div>
    <div class="square" style="--i:3;"></div>
    <div class="square" style="--i:4;"></div>
    <div class="square" style="--i:5;"></div>
    
   <div class="lcontainer"> 
   
   <div class="loader"></div>

    <div class="form"> 
      <h2 class="text-center">CHANGE PASSWORD</h2>
      <div id="message" class="text-success text-center my-3"></div>
      <form method="post" id="changePass">
        {% csrf_token %}
        
        <div class="inputBx password">
          <input id="oldPass" type="password" name="oldPass" required autocomplete="off" class="inputElem">
          <span>Old Password</span>
          <a name="pass" class="password-control" onclick="return show_hide_password(this);"></a>
          <img src="https://www.flaticon.com/svg/static/icons/svg/1828/1828471.svg" alt="lock">
          <p><small class="text-danger d-none incorrectPass">Your old password is incorrect! Please try again</small></p>
        </div>

        <div class="inputBx password">
            <input id="password" type="password" name="newPass" autocomplete="off" class="inputElem" required
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" autocomplete="off">
            <span>New Password</span>
            <a name="pass" class="password-control" onclick="return show_hide_password(this);"></a>
            <img src="https://www.flaticon.com/svg/static/icons/svg/1828/1828471.svg" alt="lock">
            <p><small class="text-danger d-none error">Must contain at least one number and one uppercase and lowercase
                letter, and at least 8 or more characters</small></p>
          </div>
          <div class="inputBx password">
            <input id="cpass" type="password" name="cnewpass" autocomplete="off" required class="inputElem"> 
            <span>Confirm Password</span>
            <a name="pass" class="password-control" onclick="return show_hide_password(this);"></a>
            <img src="https://www.flaticon.com/svg/static/icons/svg/1828/1828471.svg" alt="lock">
            <p><small class="text-danger d-none error">Your Password not match with new password</small></p>
          </div>

        <div class="inputBx">
          <input type="submit" value="Change Password"> 
        </div>
      </form>
   
    </div>
  </div>
    
  </div>
</section>


{% endblock body %}
{% block script %}
<script src="{% static 'js/showHidePassword.js' %}"></script>
<script src="{% static 'js/changePass.js' %}"></script>

{% endblock script %}