{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page not Found</title>
    <link rel="stylesheet" href="{% static 'css/404page.css' %}">
</head>
<body>
    <h1><a href="/" role="button" class="btn btn-secondary m-3" >Go To home page</a></h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/2.2.5/pixi.js"></script>
<script src="{% static 'js/404page.js' %}"></script>
</body>
</html>