{% extends 'home/base.html' %}
{% block title %} Contact Us{% endblock title%} 
{% block css %}
<style>
  .container {
    width: 70%;
  }
  .container form input:invalid, textarea:invalid{
    border:1px solid red;
  }

</style>
{% endblock css %} 
 {% block contactactive %} active{% endblock contactactive %}
{% block body %}
<div class="container my-2">

  <h3>Contact Us</h3>
  <form method="post" action="/contact/" >
  {% csrf_token %}

    <div class="form-group">
      <label for="name">Full Name<span class="text-danger">*</span></label>
      <input type="text" pattern="[a-zA-Z]{2,50}" class="form-control" id="name" placeholder="Enter your full name" name="name" />
      <small class="text-danger d-none">your name must contain alphabets only with min length 2 characters</small>
    </div>
    
    <div class="form-group">
      <label for="email">Email address<span class="text-danger">*</span></label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email"/>
      <small class="text-danger d-none">Use correct format of email i.e aahy@ghy.com</small>
    </div>
    
    <div class="form-group">
      <label for="phone">Email Phone Number<span class="text-danger">*</span></label>
      <input type="text" inputmode="tel" pattern="[0-9,+, ]{10,15}" class="form-control" id="phone" placeholder="Enter phone Number" name="phone" />
      <small class="text-danger d-none">your phone number must be numeric not contain any text value, and min length must be 10 character long</small>
    </div>
      
    <div class="form-group">
      <label for="desc">How may we help you?<span class="text-danger">*</span> </label>
      <textarea class="form-control" id="desc" name="desc" rows="4" minlength="4"></textarea>
      <small class="text-danger d-none">your description length must be 4 characters long</small>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  
  </form>
</div>
<script>
  let elems = document.querySelectorAll(".form-control");
  elems.forEach(element => {

    element.addEventListener("input",(e)=>{
      if(!e.target.checkValidity() || element.value == ""){
        element.nextElementSibling.classList.remove("d-none")

      }
      else{
        element.nextElementSibling.classList.add("d-none")
      }
      
    })
  });

  document.querySelector(".container form button[type=submit]").addEventListener("click",(e)=>{
    let errors = document.querySelectorAll(".form-group small")
    let err = false;
    errors.forEach(error=>{
      error.previousElementSibling.setAttribute("required","true")
      if(error.previousElementSibling.value == ""){
        error.classList.remove("d-none")
      }
      if(!error.classList.contains("d-none")){
        err = true
        e.preventDefault()
      }
    });
    if (!err){
      document.querySelector(".container form button[type=submit]").submit()
    }
  })
</script>
{% endblock body %}
