{% extends 'home/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block css %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<style>

</style>

<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block homeactive %} active {% endblock homeactive %}
{%block body%}

 <div class="area">
	<div class="zone-1">
		<div class="title">
			<h1>A Website for
      <strong class="text-slider"></strong>
      </h1>
		</div>
		<div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, aliquam? Deserunt harum nesciunt totam dolorum provident itaque asperiores? Tenetur repellendus omnis officiis, nobis nulla nisi excepturi tempora, architecto veniam similique pariatur. Dicta temporibus suscipit, ut natus voluptatem sed laboriosam porro!</div>
		<div class="button">Learn More</div>
	</div>
	<div class="zone-2">
		<div class="bg-1"></div>
		<div class="bg-2"></div>
		<div class="bg-3"></div>
		<div class="bg-4"></div>
	</div>
</div>

  <section>
    <div class="feat bg-gray pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="section-head col-sm-12">
            <h4><span>Why Choose</span> Me?</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the
              industry's<br>standard dummy text ever since the 1500s, when an unknown book.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
              <h6>Modern Design</h6>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean
                massa.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
              <h6>Creative Design</h6>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean
                massa.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
              <h6>Your Photoshoping</h6>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean
                massa.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
              <h6>Business Growth</h6>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean
                massa.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
              <h6>Market Strategy</h6>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean
                massa.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
              <h6>Retina Ready</h6>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean
                massa.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>

  <section>

   <div class="row w-100 my-2">

     <div class="section-head col-sm-9 m-0 p-0">
       <h4><span>Recent</span> Blogs</h4>
      </div>
      <div class="cta text-center col-sm-3 m-0 p-0">
        <a href="/blog/">Read more &rarr;</a>
      </div>
      
    </div>

    <div class="main">
      {% for post in allposts %}


      <div class="card">
        <div class="post">

          <img class="post-image {% cycle 'first' 'second' %}" src="/media/{{post.image}}" />

          <div class="post-content">
            <p class="post-header"> <a href="/blog/{{post.slug}}">{{post.title| safe | truncatechars:20}}</a> </p>
            <p class="post-text">
              {{post.title}}
            </p>
            <div class="author">
              <img src="/media/defaultProfile.jpg" alt="" class="author-image">
              <div class="author-content">
                <p class="author-name">{{post.authorUsername}}</p>
                <p class="date"> {{post.dateUpdate|date:"N d, Y"}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}

    </div>


  </section>

  <section>
    <div class="row w-100 my-2">
      <div class="section-head col-sm-9 m-0 p-0">
        <h4><span>Programming</span> Quiz</h4>
       </div>
       <div class="cta text-center col-sm-3 m-0 p-0">
         <a href="/quiz/">Read more &rarr;</a>
       </div>
     </div>

     <div class="container">
       <div class="row">
          <div class="col-6">
            
          </div>
       </div>
     </div>
  </section>

  <section>
  <div id="procatCont">
  {% for lang in language %}
  <div class="bg" style="background-image: url('https://source.unsplash.com/1600x900/?{{lang}}');"></div>
  {% endfor %}
  <div class="bg opaque" style="background: #fff"></div>
  <ul>
  {% for lang in language %}
    <li><a href="/quiz/category/{{lang}}"><i class="fa fa-code" aria-hidden="true"></i><span>{{lang}}</span></a></li>
  {% endfor %}
  </ul>
  <div id="end"></div>
</div>
  </section>

{% endblock body %}
 {% block script %}
  <script src="{% static 'js/typed.js-master/lib/typed.min.js' %}"></script>
   <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
   var typed = new Typed(".text-slider", {
                strings: ["Create","Learn","And","Play","Programming"],
                typeSpeed: 50,
                loop: true,
                backDelay: 900,
                backSpeed: 30,
            });

    </script>

    <script>
   

    $(document).ready(function(){
  function makeEffect(){
    $("#procatCont li").hover(function(){
      var num = $(this).index();
      $("#procatCont .bg").removeClass("opaque");
      $("#procatCont .bg").eq(num).addClass("opaque");
      $("#procatCont").css({"border-left": "1px solid rgba(255, 255, 255, .3)", "border-top": "1px solid rgba(255, 255, 255, .3)"});
      $(this).addClass("wh");
      $(this).siblings().addClass("tr");
      $("#procatCont span").addClass("spanfont");
      $("#procatCont span").eq(num).removeClass("spanfont").addClass("spanfont_this");
      },
      function(){
        $(this).removeClass("wh");
      });
        $("#procatCont li").mouseleave(function(){
        $("#procatCont .bg").last().addClass("opaque");
        $("#procatCont").css({"border-left": "1px solid #ccc", "border-top": "1px solid #ccc"});
        $("#procatCont li").removeClass("tr");
        $("#procatCont span").removeClass("spanfont");
        $("#procatCont span").removeClass("spanfont_this");
      });
   } //end makeEffect
  if ($(document).width() > 575) {
    makeEffect();
  }
});
    </script>
{% endblock script %}