{% extends 'home/base.html' %}
{% block title %} Reset your password{% endblock title %}

{% block css %}
<style>
    body{
        background: #232931;
        color:#fff;
    }
</style>
{% endblock css %}

{% block body %}
<div class="container my-3">
<h3 class="text-center my-4">RESET YOUR PASSWORD</h3>
<p class="text-center">We email you link for changing password: Please click on this and change your password</p>
<p class="text-center">If you don't receive an email, please make sure you've entered the address you registered with.</p>
</div>
{% endblock body %}