
{% extends 'home/base.html' %}
{% load static %}
{% block title %} Reset your password {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
<style>
.form .inputBx input[type="submit"] {
   max-width: 170px;
}
.form form input {
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 10px;
  border-radius: 15px;
  color: var(--primary-color);
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.form form ul{
    display:none;
}
.helptext{
    color: red;
}
</style>
<style>
  input[type="password"]{
         display:block;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 0.5px solid grey;
    }
    label{
        font-weight:bold;
        font-size:17px;
    }
</style>
{% endblock css %}

{% block body %}
<section>
  
  <div class="box">
    
    <div class="square" style="--i:0;"></div>
    <div class="square" style="--i:1;"></div>
    <div class="square" style="--i:2;"></div>
    <div class="square" style="--i:3;"></div>
    <div class="square" style="--i:4;"></div>
    <div class="square" style="--i:5;"></div>
    
   <div class="lcontainer"> 

    <div class="form"> 
      <h2 class="text-center">RESET PASSWORD</h2>
      <div id="message" class="text-danger text-center"></div>
      {% if validlink %}
      <div id="msg" class="text-light text-center my-2">(Please enter your new password and confirm password)</div>
     

      <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}
        <div class="inputBx">
          <input type="submit" value="Change Password"> 
        </div>
      </form>
    </div>
    
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
  </div>
    
  </div>
</section>


{% endblock body %}
{% block script %}
<script>
    let pass1 = document.getElementById("id_new_password1");
   let pass2 = document.getElementById("id_new_password2");
    pass1.addEventListener("input",(e)=>{
        isValidPass = true
        if (pass1.value.length >= 8 && pass1.value.search(/[a-z]/) !== -1 && pass1.value.search(/[A-Z]/) !== -1 && pass1.value.search(/[0-9]/) !== -1){
           isValidPass = false
        }
        if (isValidPass) {
            pass1.parentElement.querySelector(".helptext").innerHTML = "Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
    } else {
        pass1.parentElement.querySelector(".helptext").innerHTML = ""
    }
    })
</script>
{% endblock script %}

{% comment %} 

<div class="container mb-4" style="max-width:400px">
<h2 class="text-center my-4">Reset your password</h2>
{% if validlink %}
<h6 class="text-center my-4">(Please enter your new password and confirm password)</h6>
<form action="." method="post">
{{ form.as_p }}
 {% csrf_token %}
<button type="submit" class="btn btn-success btn-block">change my password</button>
</form>

{% else %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
</div>
{% endblock body %} {% endcomment %}

