
{% extends 'home/base.html' %}
{% load static %}
{% block title %} Forget Password {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
<style>
    .form .inputBx input[type="submit"] {
   max-width: 170px;
}
.form form input {
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 10px;
  border-radius: 15px;
  color: var(--primary-color);
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
</style>
{% endblock css %}

{% block body %}
<section>
  
  <div class="box">
    
    <div class="square" style="--i:0;"></div>
    <div class="square" style="--i:1;"></div>
    <div class="square" style="--i:2;"></div>
    <div class="square" style="--i:3;"></div>
    <div class="square" style="--i:4;"></div>
    <div class="square" style="--i:5;"></div>
    
   <div class="lcontainer"> 

    <div class="form"> 
      <h2 class="text-center">FORGOT PASSWORD</h2>
      <div id="message" class="text-danger text-center"></div>
      <div id="msg" class="text-light text-center my-2">Enter your Email in order to reset your password </div>
     

      <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}
        <div class="inputBx">
          <input type="submit" value="Send Email"> 
        </div>
      </form>
    </div>
  </div>
    
  </div>
</section>


{% endblock body %}
{% block script %}
<script>
    document.querySelector(".form form p label").innerHTML = ""
</script>
{% endblock script %}



