
@import url(https://fonts.googleapis.com/css?family=Roboto);
:root{
    /* --primary-color:#232931; */
    /* --secondary-color:#2a313a; */
    --primary-color:#1e1e27;
    --secondary-color:#27293d;
    --third-color:#1e2429;
    --border-first-color:#40454d;
    --fourth-color:white;

    --third-dark-color:#25426a;
}
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--fourth-color) !important;
}

.global-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.global-wrapper aside {
    position: relative;
    width: 112px;
    float: left;
    text-align: center;
    height: 100%;
    transition: all 0.3s ease-in-out;
    border-right: 1px solid var(--border-first-color);
    background: var(--third-color);
}

.global-wrapper aside ul {
    list-style: none;
    padding-left: 0;
}

.global-wrapper aside ul li {
    padding: 12px 0 0px 0;
    cursor: pointer;
    margin: 10px 0;
}

.global-wrapper aside ul li:hover {
    border-left: 3px solid var(--primary-color);
    background: rgba(255, 253, 253, 0.281);
}

.global-wrapper aside ul li:hover i,.global-wrapper aside ul li:hover span {
    color: white !important;
}

.global-wrapper aside ul .active span {
    color: var(--secondary-color) !important;
}
.global-wrapper aside ul .active i{
    color: var(--third-dark-color) !important;
}
.global-wrapper aside ul li .nav-item {
    display: inline-block;
    width: 40px;
    overflow: hidden;
    height: 30px;
    transition: width 0.3s ease-in-out;
    white-space: nowrap;
    color: var(--fourth-color);
}

.global-wrapper aside ul li .nav-item i {
    float: left;
    position: relative;
    top: -3px;
    color: var(--fourth-color);
    font-size: 30px;
}

.global-wrapper aside ul li .nav-item span {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.global-wrapper aside ul .active {
    border-left: 3px solid var(--primary-color);
    background: ghostwhite;
}

.global-wrapper aside ul:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.global-wrapper main {
    float: left;
    width: calc(100% - 114px);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    background: var(--primary-color);
}

.global-wrapper main #blackout-on-hover {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.global-wrapper main header {
    position: relative;
    background-color: var(--third-color);

    width: 100%;
    height: 264px;
}
.global-wrapper main header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://images.unsplash.com/photo-1616757756113-31aa83621e4a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjE2ODU1NTky&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600');
    filter: grayscale(1) brightness(0.1);
    background-size: cover;
}

.global-wrapper main header h2 {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 34px;
    left: 20px;
}

.global-wrapper aside:hover {
    width: 300px;
    transition: all 0.3s ease-in-out;
}
.global-wrapper aside:hover li{
    margin: 10px;
}
.global-wrapper aside:hover .nav-item {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 30px;
    transition: all 0.3s ease-in-out;
}

.global-wrapper aside:hover .nav-item i {
    float: left;
}

.global-wrapper aside:hover .nav-item span {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.global-wrapper aside:hover~#main {
    width: calc(100% - 302px);
    transition: all 0.3s ease-in-out;
}

.global-wrapper aside:hover~#main #blackout-on-hover {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .5;
    transition: opacity 0.3s ease-in-out;
}

.main-card{
    
    margin: 20px auto;
}
.main-card a > div{
 margin: 10px;
 height: 200px;
}

h1,#main h2,.summary{
    color:var(--fourth-color);
}

.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px auto 5px;
    cursor: pointer;
}


.modal-header{
    border-bottom: 1px solid #3e3e3e !important;
}
.modal-footer{
    border-top: 1px solid #3e3e3e !important;
}
.modal-content,
.form-select,
.form-control{
    background-color: #212529!important;
    color: #f8f9fa!important;
}

.form-select,.form-control{
    border: 1px solid #3e3e3e !important;
}
.btn-close{
    filter: invert(1) grayscale(100%) brightness(200%);
}

.breadcrumb a{
    color: white !important;
}
.breadcrumb a:hover{
    color: #dcd9d9 !important;
}